/* Basic Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", "Ubuntu-Bold", "Ubuntu";
  text-align: center;
  line-height: 1rem;
  font-weight: 400;
  color: #191919;
}

/* Basic Settings */

/* Navigation Bar */

.navbar {
  padding: 1 1 1 1;
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 1.2rem;
}

.nav-link {
  font-size: 1.8rem;
  font-family: "Ubuntu";
  /* font-family: "Montserrat-Light"; */
}
/* Navigation Bar */

/* Containers */

.cont_l1 {
  max-width: 120rem;
  max-height: 180rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(255, 255, 255);
}

.cont_l2 {
  max-width: 99.2rem;
  max-height: 90rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 3fr;
  background-color: #f7efdfe3;
}

.cont_l3 {
  max-width: 99.2rem;
  max-height: 90rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  /* display: grid; */
  align-items: center;
  justify-content: center;
  /* grid-template-columns: 3fr 1fr; */
  background-color: rgb(231, 232, 249);
}

/* .container-fluid { */
/* max-width: 99.2rem; */
/* max-height: 90rem; */
/* background-color: #d9f4e3; */
/* } */

.carousel-inner {
  max-width: 99.2rem;
  max-height: 80rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin: 0 auto;
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #d9f4e3;
}

.l1img {
  /* margin-left: 0.1rem; */
  margin-top: 3rem;
  /* min-width: 80rem; */
  max-width: 100%;
  max-height: 160rem;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.l1txt {
  margin-left: 1rem;
  padding-top: 10rem;
  margin-left: 15rem;
  max-width: 50rem;
  max-height: 160rem;
  position: relative;
}

.skill_cont {
  /* margin: 0 auto; */
  margin-left: 5rem;
  padding-top: 32rem;
  max-width: 100%;
  max-height: 180rem;
  background-color: #f7efdfe3;
  border-color: #050000;
  padding-bottom: 15rem;
}

.bar_cont {
  /* margin: 0 auto; */
  margin-top: 13rem;
  margin-bottom: 13rem;
  margin-left: 5rem;
  max-width: 140rem;
  max-height: 180rem;
  background-color: #f7efdfe3;
  border-color: #050000;
}

.skill_container {
  /* display: flex; */
  max-width: 80rem;
  text-align: center;
  max-height: 2.5rem;
  background-color: #e6afaf;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 1rem;
  align-self: stretch;
  order: 2;
}

.container-title {
  /* padding: 3% 3%; */
  background-color: rgb(255, 255, 255);
}
.skill-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100%;
  width: 100%;
  background-color: #f7efdfe3;
}

.green-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100%;
  width: 100%;
  background-color: #d9f4e3;
}

.blue-section {
  /* margin-top: 10rem; */
  /* margin-bottom: 10rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100%;
  width: 100%;
  background-color: rgb(231, 232, 249);
}

.edu_cont {
  max-width: 80.2rem;
  max-height: 90rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(231, 232, 249);
}

.edu3_cont22 {
  margin-left: 150rem;
  padding-top: -52rem;
  max-width: 80rem;
  max-height: 180rem;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  padding-bottom: 5rem;
  position: absolute;
}

.edubar_cont {
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-left: -3rem;
  max-width: 140rem;
  max-height: 180rem;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  position: absolute;
}

.edu2_cont {
  /* margin-top: 13rem; */
  margin-left: 8rem;
  /* padding-top: 2rem; */
  max-width: 40rem;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  padding-bottom: 5rem;
  /* position: absolute; */
}

.edu_container {
  /* min-width: 45rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0rem;
  margin-left: -8rem;
  margin-right: 8rem;
  background-color: rgb(231, 232, 249);
}

.edu_div2 {
  /* max-width: 60rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -0.8rem;
  margin-left: -9rem;
  background-color: rgb(231, 232, 249);
}

/* Containers */

/* Image Enhancements */

.title-image {
  transform: scale(90%);
  margin-top: 0.1rem;
  margin-left: 1rem;
  max-width: 100rem;
  height: 70rem;
  display: inline;
  /* position: static; */
}

.oh {
  overflow: hidden;
}

.izo {
  opacity: 0.95;
  transition-duration: 5s;
  transform: scale(1, 1);
}

.izo:hover {
  opacity: 1;
  transition-duration: 5s;
  transform: scale(1.15, 1.15);
}

/* Image Enhancements */

.h1forl1 {
  padding-top: 10rem;
  font-size: 1.8rem;
  margin-left: -20rem;
  /* margin-left: 15rem; */
}

.h1forfn {
  /* margin-left: 15rem; */
  padding-top: 1rem;
  font-size: 2.4rem;
  margin-left: -20rem;
}

.h1forln {
  /* margin-left: 15rem; */
  padding-top: 0.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: -20rem;
}

.h1forlike {
  /* margin-left: 15rem; */
  padding-top: 5rem;
  padding-bottom: 1.8rem;
  font-size: 2.2rem;
  font-weight: 800;
  margin-left: -20rem;
}

.title_content {
  padding: 1rem;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  margin-left: -9rem;
  text-align: left;
  color: #191919;
}

.btn {
  margin-top: 5rem;
  margin-left: -15rem;
  font-size: 1.4rem;
  padding: auto;
  margin-bottom: 3rem;
  /* padding: 3% 3%; */
}

/* ******** SKILLS  ******* */

.icon2 {
  display: none;
}

.skillitem {
  display: flex;
  padding-top: 0.7rem;
  text-align: left;
  margin-bottom: 0;
  transform: translate(-4rem);
  /* margin-left: .2rem; */
  align-self: stretch;
  order: -1;
}

.eduitem {
  display: flex;
  padding-top: 0.7rem;
  /* padding-bottom: -1.7rem; */
  text-align: left;
  margin-bottom: 0;
  /* transform: translate(-rem); */
  background-color: rgb(231, 232, 249);
  /* margin-left: .2rem; */
  align-self: stretch;
  order: -1;
}

.skillcerts {
  display: flex;
  padding-top: 0.1rem;
  text-align: right;
  margin-bottom: 0;
  /* transform: translate( -4rem); */
  /* margin-left: .2rem; */
  align-self: stretch;
  order: 1;
}

.pdficon {
  background-color: rgb(231, 232, 249);
  display: flex;
  padding-top: 0.1rem;
  text-align: right;
  margin-bottom: 0;
  align-self: stretch;
  order: 1;
}

.skillicon {
  color: #030303;
  margin-bottom: 1rem;
}

.skillicon:hover {
  color: #f50606;
}

.skill-title {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  color: #0a0a0a;
  margin-left: 1rem;
  text-align: center;
  padding-bottom: 0;
}

.skill-name {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 600;
  /* line-height: 1; */
  color: #f50606;
  margin-left: 5px;
  text-align: center;
}
.certicon {
  max-height: 2.4rem;
  max-width: 2.4rem;
}

.skillcourse {
  padding-left: 9rem;
  max-width: 55rem;
  max-width: 61rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0rem;
  margin-left: 0.1rem;
}

.pcent {
  padding-top: 0.8rem;
  text-align: center;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}

.chatgpt {
  font-size: 1.5rem;
  width: 65%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.github {
  font-size: 1.5rem;
  width: 80%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.html {
  font-size: 1.5rem;
  width: 75%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.itil {
  font-size: 1.5rem;
  width: 75%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.android {
  font-size: 1.5rem;
  width: 55%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.ldesk2 {
  font-size: 1.5rem;
  width: 45%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.aix {
  font-size: 1.5rem;
  width: 60%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.wintel {
  font-size: 1.5rem;
  width: 80%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.js {
  font-size: 1.5rem;
  width: 75%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.networks {
  font-size: 1.5rem;
  width: 55%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

/* *************** SKILL ************** */

/* *************   EXPERIENCE ************* */
.mylist {
  margin-top: 5rem;
}
.explist1 {
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  padding-top: 0.2rem;
  text-align: left;
  line-height: 0.8 rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.explist2 {
  padding-left: 40rem;
  font-family: "Ubuntu";
  padding-top: 3rem;
  margin-left: -13rem;
  text-align: left;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.big-heading {
  display: inline;
  font-family: "Ubuntu";
  font-size: 4.5rem;
  line-height: 1.5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  margin-left: 3rem;
  margin-top: 15rem;
}

.small-heading {
  display: inline;
  font-family: "Ubuntu";
  font-size: 3.1rem;
  line-height: 1.5;
  padding-left: 2rem;
  position: relative;
  margin-left: 1rem;
  margin-top: 5rem;
}

.emposition {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  color: #070707;
}

/* *************   EXPERIENCE ************* */

/* *************   EDUCATION  ************* */

.mim {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  /* width: 80%; */
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 1rem;
}
.bit {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.ldesk {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.ccna {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.mcp {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.dch {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.die {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.ssc {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}

/* *************   EDUCATION  ************* */

h2,
h4 {
  font-family: "Ubuntu";
}

h6 {
  font-family: "Ubuntu";
}

h3 {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  position: relative;
}

h5 {
  margin-left: 50px;
  padding-right: 100px;
  padding-top: 40px;
  position: relative;
}

/* Headings */
.smallhead {
  margin: 0px 20px 20px 0px;
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  line-height: 1.25;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 50px;
  /*  padding-left: 30px; */
  position: relative;
}
.liking {
  margin: 0px 5px 5px 0px;
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 2.2rem;
  line-height: 1.25;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
}
.liking2 {
  margin: 0px 10px 10px 0px;
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 2.2rem;
  line-height: 1.25;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
}

.divtitle3 {
  display: inline-block;
  margin-top: 200px;
  width: 200px;
  height: 300px;
}

.divtitle4 {
  display: inline-block;
}

.divtitle1 {
  /* display: inline-block; */
  /* background-color: rgb(192, 189, 189); */
  display: inline;
  margin-top: 10px;
  width: 400px;
  height: 610px;
}

/* Small Image Titel*/
.divtitle2 {
  padding-top: 2%;
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}

/* .yellow-section {
  height: 100%;
  width: 100%;
  background-color: #ece863;
  color: #2f2e2e;
} */

.lorange-section {
  padding-top: 5%;
  height: 190rem;
  width: 100%;
  background-color: #f7f5f2c8;
  padding-bottom: 15%;
}

.container-footer {
  margin-top: 0rem;
  background-color: #e5e9e9;
  /* background-color: #000000; */
  /* padding-top: 2%; */
  /* padding: 3% 3%; */
}

.container-footer,
p {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  line-height: 1rem;
  color: #040404;
}

.video-container {
  position: relative;
  padding-bottom: 70%;
  padding-right: 97.2%;
  /* display: block;  */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.grey-section {
  padding-top: 5%;
  height: 1px;
  width: 100%;
  background-color: #bdc2c2;
}

.card {
  margin-top: 2rem;
  background-color: #f7f5f2c8;
  height: 50rem;
  width: 60rem;
  margin-bottom: 5rem;
}
/*  */
/* #press { */
/* background-color: #ef8172; */
/* padding-bottom: 3%; */
/* } */
/*  */
/* .press-logo { */
/* width: 15%; */
/* margin: 20px 20px 50px; */
/* } */

/* Pricing Section */

/* #pricing { */
/* padding: 100px; */
/* } */
/*  */
/* .price-text { */
/* font-size: 3rem; */
/* line-height: 1.5; */
/* } */

.pricing-column {
  max-width: 99.2rem;
  max-height: 80rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  display: grid;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: rgb(231, 232, 249); */

  /* padding: 3% 2%; */
}

.vinfo {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
}

.ctainfo {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  /* font-style: italic; */
  font-weight: 500;
}

/* #skills { */
/* position: relative; */
/* padding-top: 1rem; */
/* } */

/* #testimonials { */
/* background-color: #43e682; */
/* } */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  /* size: 12.4rem; */
  height: 16.4rem;
  width: 16.4rem;
  border-radius: 100%;
  margin: 3rem;
}

/* .explist5 { */
/* margin-left: 205px; */
/* text-align: left; */
/* } */
/*  */
/* .explist3 { */
/* margin-left: 205px; */
/* text-align: left; */
/* } */
/*  */
/* .explist4 { */
/* margin-left: 275px; */
/* text-align: left; */
/* } */

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(18, 5, 196);
  border-width: 0.5rem;
  max-width: 102%;
  /* min-width: 10rem; */
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  position: relative;
  margin-left: -8.5rem;
}

.edu-title {
  font-family: "Ubuntu";
  font-size: 1 rem;
  line-height: 1;
  color: #030007;
  text-align: left;
}

.skill-title2 {
  font-family: "Ubuntu";
  font-size: 1.5 rem;
  line-height: 1;
  color: #050505;
  margin-left: 5px;
  text-align: center;
}

.edu-title2 {
  font-family: "Ubuntu";
  font-size: 1 rem;
  line-height: 1;
  color: rgb(18, 5, 196);
  margin-left: 5px;
  text-align: center;
}

.exper-text2 {
  font-family: "Ubuntu";
  font-size: 1.5 rem;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}

.icon3 {
  color: #070707;
  margin-bottom: 1rem;
}

.socicon {
  width: 24px;
  height: 24px;
  background-color: #fff;
}

.icon3:hover {
  color: rgb(18, 5, 196);
}

.edu3_cont {
  display: none;
}

/* .card { */
/* background-color: #f7f5f2c8; */
/* height: 200px; */
/* width: 500px; */
/* } */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* .pricing-column { */
/* padding: 3% 2%; */
/* } */

/* Media Query - Changes */
@media (max-width: 768px) {
  #title {
    text-align: left;
  }
}

/* .largescreen { 
      display: none;
     }*/

h2,
h4 {
  font-family: "Ubuntu-Bold";
}

h6 {
  font-family: "Ubuntu-Bold";
}

/* h3 { */
/* font-family: "Ubuntu-Bold"; */
/* font-size: 2.5rem; */
/* position: relative; */
/* } */

/* .liking { */
/* margin: 0px 5px 5px 0px; */
/* display: inline-block; */
/* font-family: "Ubuntu-Bold"; */
/* font-size: 2.5rem; */
/* line-height: 1; */
/* padding-top: 1rem; */
/* padding-left: 1rem; */
/* padding-right: 1rem; */
/* position: absolute; */
/* } */

.skill-title {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  color: #0a0a0a;
  margin-left: 1rem;
  text-align: center;
  padding-bottom: 0;
}

.skill_container {
  /* padding-top: 100px; */
  width: 80%;
  background-color: #e6afaf;
  border-color: #050000;
  border: 5px;
  margin-top: 5px;
  margin-left: 60px;
  position: relative;
}

.icon2 {
  color: #f9f6f6;
  margin-bottom: 0.8 rem;
}

.icon2:hover {
  color: #e7ff4c;
}

/* .icon1 { 
          display: none;
        }*/

.skill-title2 {
  font-family: "Ubuntu";
  font-size: 2rem;
  line-height: 0.8rem;
  color: #0c0c0c;
  margin-left: 1px;
  text-align: center;
}

.skill_cont {
  /* padding-top: 100px; */
  width: 100%;
  background-color: #f7efdfe3;
  border-color: #050000;
  border: 2px;
  position: relative;
  margin-top: 5%;
  /* margin-left: 10px; */
  margin-bottom: 15%;
}

/* #testimonials { */
/* background-color: #43e682; */
/* } */

/* .testimonial-text { */
/* font-size: 2rem; */
/* line-height: 0.8; */
/* } */
/*  */
/* .testimonial-image { */
/* width: 10%; */
/* border-radius: 100%; */
/* margin: 20px; */
/* } */
/* .small-heading { */
/* display: inline; */
/* font-family: "Ubuntu"; */
/* font-size: 1.6rem; */
/* line-height: 0.8; */
/* padding-left: 20px; */
/* position: relative; */
/* margin-left: 10px; */
/* margin-top: 20px; */
/* } */

/* .liking2 { */
/* margin: 0px 10px 10px 0px; */
/* display: inline-block; */
/* font-family: "Ubuntu"; */
/* font-size: 1.1rem; */
/* line-height: 0.8; */
/* padding-top: 20px; */
/* padding-left: 50px; */
/* padding-right: 50px; */
/* position: relative; */
/* } */
/*  */
/* .liking { */
/* margin: 0px 10px 10px 0px; */
/* display: inline-block; */
/* font-family: "Ubuntu"; */
/* font-size: 1.1rem; */
/* line-height: 1.2rem; */
/* padding-top: 20px; */
/* padding-left: 50px; */
/* padding-right: 50px; */
/* position: relative; */
/* } */

/* .explist2 { */
/* margin-left: 5px; */
/* text-align: left; */
/* } */
/*  */
/* .explist5 { */
/* margin-left: 5px; */
/* text-align: left; */
/* } */
/*  */
/* .explist3 { */
/* margin-left: 1px; */
/* text-align: left; */
/* } */
/*  */
/* .explist4 { */
/* position: relative; */
/* margin-left: 1px; */
/* text-align: left; */
/* } */
/*  */
/* .explist1 { */
/* margin-left: 18px; */
/* text-align: center; */
/* font-size: 1.5rem; */
/* line-height: 1.5rem; */
/* } */

/* .h5 { */
/* margin-left: 50px; */
/* padding-right: 10px; */
/* padding-top: 10px; */
/* position: relative; */
/* } */

/* .edu2_cont {
      width: 70%;
      background-color: #ece863;
      position: relative;
      margin-bottom: 10%;
      margin-top: 10%;
      margin-left: 20%;
    } */

.edu3_cont {
  display: none;
}

.edu1_cont {
  /* padding-top: 100px; */
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  /* border: 0px; */
  position: relative;
  margin-top: 20%;
}

.edubar_cont {
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 10rem;
  /* max-width: 80rem; */
  max-height: 70rem;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  position: relative;
  /* bottom: 2px; */
  /* margin-bottom: 10px; */
  /* margin-left: 120px; */
}

/* .edubar_cont {
    padding: 3% 2.5%;
    width: 100%;
    height: 20%;
    background-color: #ece863;
    border-color: #050000;
    position: relative;
    bottom: 2px;
    margin-bottom: 50px;
    margin-left: 10px;
  } */

/* .edu_container { */
/* margin-left: 5%; */
/* width: 60%; */
/* text-align: left; */
/* background-color: #d2edf0; */
/* border-color: #050000; */
/* border: 10px; */
/* position: relative; */
/* } */

.edu-title {
  margin-left: 20%;
  font-family: "Ubuntu";
  font-size: 1 rem;
  line-height: 1;
  color: #070000;
  text-align: left;
}

/* hr { */
/* border-style: none; */
/* border-top-style: dotted; */
/* border-color: rgb(18, 5, 196); */
/* border-width: 5px; */
/* width: 60%; */
/* margin-top: 5px; */
/* margin-bottom: 4px; */
/* position: relative; */
/* margin-left: 20%; */
/* } */

/* .card { */
/* background-color: #ecf1f1; */
/* height: 400px; */
/* width: 500px; */
/* } */

/* .video-container { */
/* position: relative; */
/* padding-bottom: 60%; */
/* padding-right: 97.2%; */
/* display: block;  */
/* } */
/*  */
/* .video-container iframe { */
/* position: absolute; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* height: 100%; */
/* display: inline-block; */
/* } */
/*  */
