/* Basic Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", "Ubuntu-Bold", "Ubuntu";
  text-align: center;
  line-height: 1rem;
  font-weight: 400;
  color: #191919;
  width: 100%;
}

/* Basic Settings */

/* Navigation Bar */

.navbar {
  padding: 1 1 1 1;
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 1.2rem;
}

.nav-link {
  font-size: 1.8rem;
  font-family: "Ubuntu";
  /* font-family: "Montserrat-Light"; */
}
/* Navigation Bar */

/* Containers */

.cont_l1 {
  max-width: 76.8rem;
  max-height: 126rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2fr 1fr;
  background-color: rgb(255, 255, 255);
}

.cont_l2 {
  max-width: 76.8rem;
  max-height: 86rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2fr 1fr;
  background-color: #f7efdfe3;
  padding-bottom: 12rem;
}

.cont_l3 {
  max-width: 76.8rem;
  max-height: 86rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  /* display: grid; */
  align-items: center;
  justify-content: center;
  /* grid-template-columns: 3fr 1fr; */
  background-color: rgb(231, 232, 249);
}

.carousel-inner {
  max-width: 100%;
  min-height: 66rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  text-align: center;
  /* margin: 0 auto; */
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  grid-template-rows: 1fr;
  background-color: #d9f4e3;
}

.container-fluid {
  max-width: 100%;
  max-height: 86rem;
  margin-top: 2rem;
  text-wrap: balance;
  margin-left: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
  background-color: #d9f4e3;
}

.l1img {
  margin-top: -13rem;
  max-width: 76.8rem;
  max-height: 56rem;
  overflow: hidden;
  /* margin-bottom: 0.2rem; */
}

.l1txt {
  margin-top: -23rem;
  /* margin-top: -5rem; */
  /* padding-top: 5rem; */
  /* margin-left: 0.1rem; */
  max-width: 76.8rem;
  max-height: 86rem;
  position: relative;
}

.skill_cont {
  /* margin: 0 auto; */
  margin-left: 0.1rem;
  padding-top: 7rem;
  max-width: 76.8rem;
  max-height: 86rem;
  background-color: #f7efdfe3;
  border-color: #050000;
  padding-bottom: 3rem;
}

.bar_cont {
  /* margin: 0 auto; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: -1.1rem;
  /* margin-right: 11rem; */
  max-width: 96.8rem;
  max-height: 125rem;
  background-color: #f7efdfe3;
  border-color: #050000;
}

.skill_container {
  /* display: flex; */
  max-width: 65rem;
  text-align: center;
  max-height: 2.5rem;
  background-color: #e6afaf;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 1rem;
  align-self: stretch;
  order: 2;
}

.container-title {
  /* padding: 3% 3%; */
  background-color: rgb(255, 255, 255);
}

.green-section {
  padding-top: 3rem;
  padding-bottom: 1rem;
  max-height: 64rem;
  max-width: 100%;
  align-items: center;
  text-align: center;
  background-color: #d9f4e3;
}

.blue-section {
  /* margin-top: 10rem; */
  /* margin-bottom: 10rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 100%;
  max-height: 88rem;
  background-color: rgb(231, 232, 249);
}

.edu_cont {
  min-width: 90%;
  max-height: 86rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2fr 1fr;
  background-color: rgb(231, 232, 249);
}

.edu3_cont22 {
  margin-left: 150rem;
  padding-top: -52rem;
  max-width: 100%;
  max-height: 86rem;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  padding-bottom: 5rem;
  position: absolute;
}

.edubar_cont {
  margin-top: 25rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  min-width: 80%;
  max-height: 106rem;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  position: 1;
}

.edu2_cont {
  margin-top: -124rem;
  margin-left: 3rem;
  max-width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  position: -1;
  padding-bottom: 1rem;
}

.edu_container {
  min-width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0rem;
  margin-left: 0.8rem;
  background-color: rgb(231, 232, 249);
}

.edu_div2 {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -0.5rem;
  margin-left: -1.2rem;
  background-color: rgb(231, 232, 249);
}

/* Containers */

/* Image Enhancements */

.title-image {
  margin-top: 0.2rem;
  margin-left: 0.1rem;
  /* max-width: 76.8rem; */
  max-width: 100%;
  max-height: 96rem;
  display: inline;
}

.oh {
  overflow: hidden;
}

.izo {
  opacity: 0.95;
  transition-duration: 5s;
  transform: scale(1, 1);
}

.izo:hover {
  opacity: 1;
  transition-duration: 5s;
  transform: scale(1.15, 1.15);
}
/*  */
/* Image Enhancements */

.h1forl1 {
  padding-top: 10rem;
  font-size: 2.2rem;
  margin-left: 3rem;
}

.h1forfn {
  padding-top: 1rem;
  font-size: 3.4rem;
  margin-left: 3rem;
}

.h1forln {
  padding-top: 0.8rem;
  font-size: 3.2rem;
  font-weight: 600;
  margin-left: 3rem;
}

.h1forlike {
  padding-top: 5rem;
  padding-bottom: 1.8rem;
  font-size: 3.2rem;
  font-weight: 800;
  margin-left: 3rem;
}

.title_content {
  padding: 1rem;
  font-family: inherit;
  font-size: 2rem;
  margin-left: 32rem;
  text-align: left;
  color: #191919;
}

.btn {
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 1.2rem;
  padding: auto;
  margin-bottom: 1rem;
}

/* ******** SKILLS  ******* */

.icon2 {
  display: none;
}

.skillitem {
  display: flex;
  padding-top: 0.7rem;
  text-align: left;
  margin-bottom: 0;
  transform: translate(-4rem);
  align-self: stretch;
  order: -1;
}

.eduitem {
  /* min-width: 25rem; */
  display: flex;
  padding-top: 0.5rem;
  text-align: left;
  margin-bottom: 0;
  margin-left: 0.3rem;
  background-color: rgb(231, 232, 249);
  align-self: stretch;
  order: -1;
}

.skillcerts {
  display: flex;
  padding-top: 0.1rem;
  text-align: right;
  margin-bottom: 0;
  /* transform: translate( -4rem); */
  /* margin-left: .2rem; */
  align-self: stretch;
  order: 1;
}

.pdficon {
  background-color: rgb(231, 232, 249);
  display: flex;
  padding-top: -0.4rem;
  text-align: right;
  margin-bottom: 0;
  align-self: stretch;
  order: 1;
}

.skillicon {
  color: #030303;
  margin-bottom: 1rem;
}

.skillicon:hover {
  color: #f50606;
}

.skill-title {
  font-family: "Ubuntu";
  font-size: 1.1rem;
  color: #0a0a0a;
  margin-left: 2.5rem;
  text-align: center;
  padding-bottom: 0;
}

.skill-name {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 600;
  /* line-height: 1; */
  color: #f50606;
  margin-left: 5px;
  text-align: center;
}
.certicon {
  padding-top: 0.5rem;
  max-height: 1.4rem;
  max-width: 1.4rem;
}

.skillcourse {
  padding-left: 1.3rem;
  min-width: 55rem;
  max-height: 86rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0rem;
  margin-left: 0.1rem;
}

.pcent {
  padding-top: 0.8rem;
  text-align: center;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}

.chatgpt {
  font-size: 1.5rem;
  width: 65%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.github {
  font-size: 1.5rem;
  width: 80%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.html {
  font-size: 1.5rem;
  width: 75%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.itil {
  font-size: 1.5rem;
  width: 75%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.android {
  font-size: 1.5rem;
  width: 55%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.ldesk2 {
  font-size: 1.5rem;
  width: 45%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.aix {
  font-size: 1.5rem;
  width: 60%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.wintel {
  font-size: 1.5rem;
  width: 80%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.js {
  font-size: 1.5rem;
  width: 75%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

.networks {
  font-size: 1.5rem;
  width: 55%;
  margin-top: -0.6rem;
  height: 2.5rem;
  background-color: #ee0c0c;
  border-color: #050000;
  border: 1rem;
  margin-bottom: 0.5rem;
}

/* *************** SKILL ************** */

/* *************   EXPERIENCE ************* */
.mylist {
  margin-top: 2rem;
}
.explist1 {
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  padding-top: 0.2rem;
  text-align: left;
  line-height: 1 rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.explist8 {
  /* align-items: center; */
  justify-content: center;
  font-family: "Ubuntu";
  padding-top: 0rem;
  text-align: left;
  line-height: 1 rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.explist2 {
  padding-left: 1rem;
  font-family: "Ubuntu";
  padding-top: 3rem;
  margin-left: 15rem;
  text-align: left;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}

.big-heading {
  display: inline;
  font-family: "Ubuntu";
  font-size: 4.5rem;
  line-height: 1.5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  margin-left: 3rem;
  margin-top: 15rem;
}

/* .smallscreen { 
    display: none;
   }*/

.small-heading {
  min-width: 55rem;
  display: inline;
  font-family: "Ubuntu";
  font-size: 1.8rem;
  line-height: 1.2rem;
  word-wrap: break-word;
  text-wrap: wrap;
  padding-left: 0.11rem;
  position: relative;
  margin-left: -2.1rem;
  margin-top: 1.1rem;
}

.emposition {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  color: #070707;
}

/* *************   EXPERIENCE ************* */

/* *************   EDUCATION  ************* */

.mim {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 0.8rem;
}
.bit {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.ldesk {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.ccna {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.mcp {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.dch {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.die {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}
.ssc {
  width: 100%;
  background-color: rgb(231, 232, 249);
  border-color: #050000;
  border: 10px;
}

/* *************   EDUCATION  ************* */

h2 {
  font-family: "Ubuntu";
  text-wrap: balance;
  word-wrap: break-word;
}

h4 {
  font-family: "Ubuntu";
  text-wrap: balance;
  word-wrap: break-word;
}

h6 {
  font-family: "Ubuntu";
}

h3 {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  position: relative;
}

h5 {
  margin-left: 50px;
  padding-right: 100px;
  padding-top: 40px;
  position: relative;
}

/* Headings */
.smallhead {
  margin: 0px 20px 20px 0px;
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  line-height: 1.25;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 50px;
  /*  padding-left: 30px; */
  position: relative;
}
.liking {
  /* margin: 0px 5px 5px 0px; */
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 1.7rem;
  line-height: 1;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}
.liking2 {
  /* margin: 0px 10px 10px 0px; */
  display: inline-block;
  font-family: "Ubuntu";
  font-size: 1.4rem;
  line-height: 1;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.skill-section {
  height: 90rem;
  width: 100%;
  background-color: #f7efdfe3;
}

/* .yellow-section {
  height: 100%;
  width: 100%;
  background-color: #ece863;
  color: #2f2e2e;
} */

.lorange-section {
  padding-top: 5rem;
  height: 160rem;
  width: 100%;
  background-color: #f7f5f2c8;
  padding-bottom: 2rem;
}

.pdiv1 {
  background-color: #f7f5f2c8;
  padding-top: 1rem;
  padding-bottom: 5rem;
  max-width: 100%;
}
.container-footer {
  padding-top: 2rem;
  background-color: #e5e9e9;
  /* background-color: #000000; */
  /* padding-top: 2%; */
  /* padding: 3% 3%; */
}

.container-footer,
p {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  line-height: 1rem;
  color: #040404;
}

.pricing-column {
  max-width: 100%;
  max-height: 96rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* margin: 0 auto; */
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  /* background-color: rgb(231, 232, 249); */

  /* padding: 3% 2%; */
}

.card {
  background-color: #f7f5f2c8;
  height: 45rem;
  width: 100%;
  padding-bottom: 2rem;
}

.video-container {
  position: relative;
  max-width: 100%;
  max-height: 33rem;
  padding-bottom: 1rem;
  /* padding-right: 97.2%; */
  display: block;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  display: inline-block;
}

/* Pricing Section */

.vinfo {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
}

.ctainfo {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  /* font-style: italic; */
  font-weight: 500;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  /* size: 12.4rem; */
  height: 12.2rem;
  width: 12.2rem;
  border-radius: 100%;
  margin: 3rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(18, 5, 196);
  border-width: 0.5rem;
  width: 99%;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  position: relative;
  margin-left: 1rem;
}

.edu-title {
  font-family: "Ubuntu";
  font-size: 1 rem;
  line-height: 1;
  color: #030007;
  text-align: left;
}

.skill-title2 {
  font-family: "Ubuntu";
  font-size: 1.5 rem;
  line-height: 1;
  color: #050505;
  margin-left: 5px;
  text-align: center;
}

.edu-title2 {
  font-family: "Ubuntu";
  font-size: 1 rem;
  line-height: 1;
  color: rgb(18, 5, 196);
  margin-left: 5px;
  text-align: center;
  margin-bottom: 5rem;
}

.exper-text2 {
  font-family: "Ubuntu";
  font-size: 1.5 rem;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}

.icon3 {
  color: #070707;
  margin-bottom: 1rem;
}

.socicon {
  width: 24px;
  height: 24px;
  background-color: #fff;
}

.icon3:hover {
  color: rgb(18, 5, 196);
}

.edu3_cont {
  display: none;
}

/* .card { */
/* background-color: #f7f5f2c8; */
/* height: 200px; */
/* width: 500px; */
/* } */
