/* **************** TAG SELECTORS ******************** */
body{
    background-color : #040404;
    margin: 0;
    text-align: center;
}

h1{
 color: #66BFBF;
 margin: 0;
}

h5{
    color: #66BFBF;
    width: auto;
    margin: 0;
    }

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: aquamarine;
    border-width: 5px;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 40px;
}

div{
    background-color: #040404;
    margin: 100px;
    padding-top: 20px;
    padding-left: 20px;
}

span{
    display: inline-block;
    background-color: #040404;
    width: auto;
}

p{
   background-color: #040404;
   display: inline-block; 
}




/* **************** CLASS SELECTORS ******************** */
.welcome{
    background-color: #040404
    }

.top-box{
    background-color: #040404;
    margin-bottom: 10ox;
    padding-top: 120px;
    padding-left: 50px;
}


.footer-box{
    background-color: #040404;
    margin: 0px;    
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.earth1{
    display: inline-block;
    background-color: #040404;
    width: auto;
    margin: auto;

}

.earth2{
    display: inline-block;
    background-color: #040404;
    width: auto;
    margin-left: 20px;
}

.world2{

    display: inline-block;
    background-color: #040404;
    width: auto;
    margin-left: 10px;
}


/*  *****************  ID SELECTORS   ******************   */

#heading1{
    color: aqua;
}