/* **************** TAG SELECTORS ******************** */
body{
    background-color : #100602;
    margin: 0;
    text-align: center;
}

h1{
 color: #4beae5;
 width: auto;
 margin: 0 20 20 40 ;
 *text-align: left;
 padding-left: 30px;
}

h3{
    color: #4beae5;
    width: auto;
    margin: 20 0 20 40;
    text-align: left;
    padding-left: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(159, 234, 68);
    border-width: 5px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
}

div{
    background-color: #100602;
    margin: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

p{
   background-color: #100602;
   display: inline-block; 
   padding-left: 220px;
}

/* **************** CLASS SELECTORS ******************** */
.intro{
    background-color: #100602;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 650px;
    /*text-align: center;*/
}

.arowleft{
  background-color: #100602;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 50px;
  text-align: center;

}

.arowright{
  background-color: #100602;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 650px;
  text-align: center;
}

.footer{
  background-color: #100602;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  /*text-align: center;*/
}

.table20{
    background-color: #100602;
    /*text-align: center;*/
}

.btn {
  background: #1363d4;
  background-image: -webkit-linear-gradient(top, #1363d4, #07b2eb);
  background-image: -moz-linear-gradient(top, #1363d4, #07b2eb);
  background-image: -ms-linear-gradient(top, #1363d4, #07b2eb);
  background-image: -o-linear-gradient(top, #1363d4, #07b2eb);
  background-image: linear-gradient(to bottom, #1363d4, #07b2eb);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  margin-left: 130px;
  font-family: Arial;
  color: #262617;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #dbf209;
  background-image: -webkit-linear-gradient(top, #dbf209, #15e6d8);
  background-image: -moz-linear-gradient(top, #dbf209, #15e6d8);
  background-image: -ms-linear-gradient(top, #dbf209, #15e6d8);
  background-image: -o-linear-gradient(top, #dbf209, #15e6d8);
  background-image: linear-gradient(to bottom, #dbf209, #15e6d8);
  text-decoration: none;
}

.btn2 {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #f3f700;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
/*  *****************  ID SELECTORS   ******************   */

#heading1{
    color: aqua;
}