/* **************** TAG SELECTORS ******************** */
body{
    background-color : #edeee7;
    margin: 0;
    text-align: center;
}

h1{
 color: #010104;
 width: auto;
 margin: 0 20 20 40 ;
 text-align: left;
 padding-left: 30px;
}

h3{
    color: #010208;
    width: auto;
    margin: 20 0 20 40;
    text-align: left;
    padding-left: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(50, 5, 198);
    border-width: 5px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
}

div{
    background-color: #040404;
    margin: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

p{
   background-color: #edeee7;
   display: inline-block; 
   padding-left: 220px;
}

/* **************** CLASS SELECTORS ******************** */
.intro{
    background-color: #edeee7;
    margin-bottom: 10ox;
    padding-top: 20px;
    padding-left: 650px;
    text-align: center;
}

.table20{
    background-color: #edeee7;
    text-align: center;
}

/*  *****************  ID SELECTORS   ******************   */

#heading1{
    color: aqua;
}